.Submit{
    width: 120px;
   margin-left: 680px;
}
.Cancel{
    width: 120px;
    margin-left: 10px;
}
.gesi{
    width: 460px;
}
.mr-sm-2{
    width:400px;
}
.ml-auto{

}
.table-comu{
    width: 100%;
}
.ii{
    width: 200px;
}

.Rev{
    height: 300px;
}